 
  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="formModalLabel">Loan Form</h5> <!-- Form title centered -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="border p-4 rounded">
          <form [formGroup]="loanForm" (ngSubmit)="onSubmitForm()">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label for="idNumber" class="form-label">ID Number</label>
                  <input type="text" id="idNumber" class="form-control" [value]="id" readonly>
                </div>

                <div class="mb-3">
                  <label for="returnDate" class="form-label">Return Date</label>
                  <input type="date" id="returnDate" formControlName="returnDate" class="form-control" required>
                </div>

             

              </div>
          
              <!-- Columna 2 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" id="lastName" formControlName="lastName" class="form-control" required>
                </div>

                <div class="mb-3">
                  <label for="loanDate" class="form-label">Loan Date</label>
                  <input type="date" id="loanDate" formControlName="loanDate" class="form-control" required>
                </div>

              </div>
            </div>
          
            <!-- Botones -->
            <div class="d-flex justify-content-between mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
          
        </div>
        
      </div>
    </div>
  </div>
  