<app-pop-up></app-pop-up>

<div class="container mt-4">
  <h2 class="text-center mb-4">Book of List</h2>

  <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <div class="row">
      <!-- Primera columna -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="number" id="id" formControlName="id" class="form-control" required>
        </div>
      </div>

      <!-- Segunda columna -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" formControlName="title" class="form-control" required>
        </div>
      </div>

      <!-- Tercera columna -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="authors">Authors</label>
          <input type="text" id="authors" formControlName="authors" class="form-control" required>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <!-- Primera columna -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="gender">Gender</label>
          <input type="text" id="gender" formControlName="gender" class="form-control" required>
        </div>
      </div>

      <!-- Segunda columna -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="availability">Availability</label>
          <input type="number" id="availability" formControlName="availability" class="form-control" required min="0" max="1">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
      {{ editando ? 'Update Book' : 'Add Book' }}
    </button>
  </form>

  <table class="table table-hover table-bordered text-center mt-4">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Gender</th>
        <th>Availability</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" class="text-center">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authors }}</td>
        <td>{{ book.gender }}</td>
        <td>{{ book.availability }}</td>
        <td>
          <div class="button-group">
            <button (click)="editBook(book)" class="btn btn-warning btn-sm">Edit</button>
            <button (click)="deleteBook(book.id)" class="btn btn-danger btn-sm">Delete</button>
            <!-- Button to Trigger the Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
              Schedule
            </button>
            
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  
  
